alabaster==0.7.6
argh==0.26.1
Babel==2.1.1
beautifulsoup4==4.4.1
cairocffi==0.7.2
CDApplet==1.0
CDBashApplet==1.0
cffi==1.3.0
chardet==2.3.0
cvxopt==1.1.8
cycler==0.9.0
Cython==0.23.4
decorator==4.0.4
docutils==0.12
feedparser==5.2.1
Flask==0.10.1
homeassistant==0.7.5
ipykernel==4.1.0
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
leo===5.1-final
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.0
mysql-connector-python==2.0.4
networkx==1.10
nose==1.3.7
numpy==1.10.1
packaging==15.3
pandas==0.17.0
path.py==8.1.2
pathtools==0.1.2
patsy==0.4.0
pexpect==4.0.1
pickleshare==0.5
Pillow==3.0.0
ply==3.8
Pmw==2.0.1
praw==3.3.0
ptyprocess==0.5
pudb==2014.1
pycparser==2.14
pyenchant==1.6.6
pygeoip==0.3.2
Pygments==2.0.2
pygobject==3.18.2
PyMySQL==0.6.7
pyparsing==2.0.5
python-dateutil==2.4.2
python-distutils-extra==2.38
python-sane==2.8.2
pytz==2015.7
pyxdg==0.25
PyYAML==3.11
pyzmq==15.0.0
requests==2.8.1
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.16.1
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.0
sopel==6.1.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
statsmodels==0.6.1
team==1.0
tornado==4.3
traitlets==4.0.0
update-checker==0.11
urwid==1.3.0
vincenty==0.1.2
virtualenv==13.1.2
watchdog==0.8.3
Werkzeug==0.10.4
